ccxt==3.1.49
ccxt==4.1.90
dash==2.10.2
dash_core_components==2.0.0
dash_html_components==2.0.0
matplotlib==3.7.0
matplotlib==3.8.2
numpy==1.23.5
numpy==1.24.3
numpy==1.25.2
pandas==2.1.4
pandas_ta==0.3.14b0
plotly==5.9.0
Requests==2.31.0
river==0.21.0
mysql-connector-python==8.2.0
sqlalchemy==2.0.23

tensorflow==2.15.0
scikit-learn==1.2.2